/*navbar styling starts here*/
.left{
    float: left;
}

.right{
    float: right;
}

#nav {
    margin:4px;
    width:98%;
    border:3px solid black;
    display:block;
    display:inline-block;
    padding:10px
    
}
/*navbar styling ends here*/

/*Quiz body styling starts here*/
body{
    background-color: lightblue
}

#quizArea {
text-align: center;
padding: 20%
}

a{
    text-decoration: none;
    color: black
}
/*Quiz body styling ends here*/

/*button styling*/
button {
   margin: 5px; 
   color: black;
   background-color: red;
    font-size: 24px;
    padding:12px 24px;
    border: none;
}


